/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
p,
a,
li,
button {
  font-size: 1.6rem;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
header {
  background-color: #01579b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header nav a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}
.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.top-content img {
  width: 48%;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .top-content img {
    width: 100%;
  }
}
.top-content .btn {
  background: #01579b;
  font-size: 1.6rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 1rem auto;
  width: 50%;
  text-align: center;
  border: 1px solid #01579b;
  cursor: pointer;
}
.top-content .btn:hover {
  color: #01579b;
  background: white;
}
@media (max-width: 500px) {
  .top-content .btn {
    width: 100%;
  }
}
.top-content .text {
  width: 48%;
}
@media (max-width: 500px) {
  .top-content .text {
    margin-top: 1rem;
    width: 100%;
  }
}
.top-content .text h1 {
  text-align: center;
}
.top-content .text p {
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .top-content .text p {
    display: none;
  }
}
@media (max-width: 500px) {
  main {
    display: flex;
    flex-flow: column-reverse;
  }
}
main .middle {
  text-align: center;
  padding: 2rem 0;
  margin: 2rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  main .middle {
    border-bottom: none;
  }
}
main .middle .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  main .middle .boxes {
    display: block;
  }
}
main .middle .boxes .box {
  background: #0277bd;
  color: white;
  text-align: center;
  width: 30%;
  margin: 2rem 0;
  padding: 4rem 0;
}
@media (max-width: 500px) {
  main .middle .boxes .box {
    width: 100%;
  }
}
main .middle .boxes .box i {
  margin-bottom: 4rem;
}
main .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  main .bottom {
    border-top: 1px solid black;
    padding-top: 1rem;
    flex-direction: column;
  }
}
main .bottom div {
  width: 48%;
}
@media (max-width: 500px) {
  main .bottom div {
    width: 100%;
  }
  main .bottom div:first-child {
    margin-bottom: 2rem;
  }
}
main .bottom div h2 {
  margin-bottom: 2rem;
}
footer {
  background: #01579b;
  padding: 2rem 0;
  text-align: center;
  color: white;
}
footer small {
  font-size: 1.2rem;
}
